<article id="<%= post.layout %>-<%= post.slug %>" class="post-item">
    <% if (post.link || post.title){ %>
      <header class="post-header">
        <%- partial('post/title', {class_name: 'post-title'}) %>
        <div class="post-meta"><%- partial('post/date', {class_name: 'article-date', date_format: null}) %></div>
      </header>
    <% } %>
    <div class="post-excerpt">
      <%- post.excerpt %>
    </div>
    <div class="grap">
      <%- post.content %>
    </div>
    <% if (post.tags && post.tags.length){ %>
      <%- list_tags(post.tags, {
        show_count: false,
        class: 'article-tag'
      }) %>
      <% } %>
</article>
<%- partial('post/author') %>
<div id="commnets" class="commnet-wrapper">
<h3 class="comment-title">Comments</h3>
  </div>
