<article id="<%= post.layout %>-<%= post.slug %>" class="post-item">
    <% if (post.link || post.title){ %>
      <header class="post-header">
        <%- partial('post/title', {class_name: 'post-title'}) %>
        <div class="post-meta"><%- partial('post/date', {class_name: 'article-date', date_format: null}) %></div>
      </header>
    <% } %>
    <div class="post-excerpt">
      <%- post.excerpt %>
    </div>
    <div class="grap">
      <%- post.content %>
    </div>
    <% if (post.tags && post.tags.length){ %>
      <%- list_tags(post.tags, {
        show_count: false,
        class: 'article-tag'
      }) %>
      <% } %>
</article>
<%- partial('post/author') %>
<% if (!index && post.comments && config.duoshuo_shortname){ %>
  <section id="comments" class="commnet-wrapper">
  <h3 class="comment-title">Comments</h3>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </section>
  <% } %>
